<div class="container row-fluid">
	<div class="profile_picture span2">
		<%= gravatar_for @user %>
	</div>
	<div class="user_info span6">
		<h3><%= @user.name %></h3>
		<h4 class="balance">
		Balance: 

		<% if @user.balance.nil? %>
			<%= 0 %>
		<% elsif @user.balance.to_i > 0 %>
			<span class="green"><%= @user.balance %></span>
		<% else %>
			<span class="red"><%= @user.balance %></span>
		<% end %>

			 <i class="icon-thumbs-up"></i>
		</h4>
	</div>
</div>
